{% extends "layouts/base.html" %}

{% block title %} Page Blank {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <h1>Plan Details</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-control">
            <div class="row">
                {% for f in form %}
                <div class="col-md-6 my-2">
                    {{f}}
                </div>
                {% endfor %}

            </div>
        </div>
        <div class="form-actions mt-2">
            <button type="submit" class="btn btn-primary">Create Plan</button>
        </div>
    </form>
</div>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}